
* {
    font-family: "微軟正黑體";
    box-sizing: border-box;
}

.container {
    width: 100%;
    background-color: rgb(191, 199, 199);


}

.wrapper {
    width: 1024px;
    margin: auto;
}

.clearfix::after {
    /*虛擬元素*/
    content: "";
    display: block;
    clear: both;
}

.logo {
    float: left;
}

.menu {
    float: left;
}

.login {
    float: right;
}

#aa ul {
    margin: 0;
    padding: 0;
}

#aa li {
    list-style: none;
    float: left;
}

#aa a {
    display: block;
    color: rgb(248, 251, 252);
    text-decoration: none;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    /* padding-top: 20px; */

    /* padding-bottom: 20px; */
    padding: 20px;
    font-weight: bold;
}

#aa a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(214, 235, 255);
    text-decoration: underline;

}

.photo {
    width:1550px;
   
    background-color: aquamarine;
    text-align: center;
    font-size: 0px;
    background-image: url(http://iseada.com/portfolio/coursaty/assets/img/content/02-home-slide-item-5-1600x700.jpg);
  
}

.box {
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    font-size: 18px;
    text-align: left;
    padding: 0 30px;
    background-color: rgba(253, 253, 253, 0.459);
    margin: 40px;
    
    
}

 .box2 {
    /* background-color: beige;*/ 
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    height: 600px;
    
    
} 

.box::after {
    content: "";
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}


#container2{
    padding:50px 0;
    background-color:rgb(253, 222, 153); 
  }




#container3{
    padding:35px 0;
    background-color:rgb(253, 246, 230);
   
  }






  #container4{
    padding:20px 0;
    background-color:rgb(253, 222, 153); 
    
  }

   #container4 li {
    list-style: none;
    float: left;
    
    
}

    #container4 a {
    display: block;
    color: rgb(248, 251, 252);
    text-decoration: none;
    margin-left: auto;
    margin-right:auto;
    /* padding-top: 20px; */

    /* padding-bottom: 20px; */
    padding: 20px;
    font-weight: bold;
    
}  

.hello {
    position: absolute;
    /* left: 33%; */
    padding:0 250px 0; 
    
    width:1550px;
  }

.box3{
    margin: 30px 0 0;

}

#container5{
    padding:35px 0;
    background-color:rgb(253, 246, 230);
    
  }







.full-width {
    width: 100%;
    
}

.fixed-width {
    width: 1024px;
    margin: auto;
  
    
}


.col-1 {
    width: calc(100%/12*1)
}

.col-2 {
    width: calc(100%/12*2)
}

.col-3 {
    width: calc(100%/12*3)
}

.col-4 {
    width: calc(100%/12*4)
}

.col-5 {
    width: calc(100%/12*5)
}

.col-6 {
    width: calc(100%/12*6)
}

.col-7 {
    width: calc(100%/12*7)
}

.col-8 {
    width: calc(100%/12*8)
}

.col-9 {
    width: calc(100%/12*9)
}

.col-10 {
    width: calc(100%/12*10)
}

.col-11 {
    width: calc(100%/12*11)
}

.col-12 {
    width: calc(100%/12*12)
}

[class*="col"] {
    float: left;
    padding: 15px;

}

    